.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 8px;
  width: 100%;
}

.item {
  border: 1px solid #eee;
  cursor: pointer;
  margin-bottom: 8px;
  padding: 8px;
}

.title {
  font-weight: 600;
  font-size: 18px;
}
